<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
</head>
<body>
    

    <p>{{partida}}</p>

    <form method="post" action="{% url 'correr_preguntas' trivia_id=partida.id %}">
        {% csrf_token %}
        <p>{{numero_pregunta}} </p>
        <h4>{{ pregunta }}</h4>
        
        {% for respuesta_incorrecta in respuestas_incorrectas %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="respuesta" id="incorrecta_{{ forloop.counter }}" value="{{ respuesta_incorrecta }}">
            <label class="form-check-label" for="incorrecta_{{ forloop.counter }}">
                {{ respuesta_incorrecta }}
            </label>
        </div>
        {% endfor %}
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="respuesta" id="correcta" value="{{ respuesta_correcta }}" checked>
            <label class="form-check-label" for="correcta">
                {{ respuesta_correcta }}
            </label>
        </div>
    
        <button type="submit" class="btn btn-primary">Enviar respuesta</button>
    </form>
    




</body>
</html>