{% extends "base.html" %}
{% block content %}
<div class="container">
    <div id="question-container">
   
        <!-- Aquí se mostrarán las preguntas -->
        
    </div>

    <!-- Agrego este formulario para pasar los aciertos de la partida a la vista -->
    <form id="integer-form"  method='POST' action="{% url 'results-game' game_id=game.id %}">
        {% csrf_token %}
        <input type="number" id="integer-input" name="integer" required>
        <button type="submit"></button>
    </form>
    
</div>
{% endblock content %}

{% block scripts %}
<script>
    var questions = {{ questions|safe }};
    var currentQuestionIndex = 0;
    var correctAnswers = 0;
    var timerInterval;
    var timeLimit = 10; // Tiempo límite de respuesta en segundos
    // Seleccionar el formulario y el campo de entrada
    var form = document.getElementById('integer-form');
    var input = document.getElementById('integer-input');
    var questionContainer = document.getElementById('question-container');
    

    function displayQuestion(question) {
        var questionHTML = `
            <div class="question">
                <p>${question.index}</p>
                <h5 class="mb-3">${question.ask}</h5>
                <div class="form-check mb-3">
                    <ul class='answer_list'>
                        <li><button class='btn btn-success' onclick="checkAnswer('${question.option_one}', '${question.correct_answer}')">${question.option_one}</button></li>
                        <li><button class='btn btn-success' onclick="checkAnswer('${question.option_two}', '${question.correct_answer}')">${question.option_two}</button></li>
                        <li><button class='btn btn-success' onclick="checkAnswer('${question.option_three}', '${question.correct_answer}')">${question.option_three}</button></li>
                    </ul>
                </div>
            </div>
            <p id="timer"></p>
            
        `;
        questionContainer.innerHTML = questionHTML;
        startTimer();
    }

    function startTimer() {
        var timeLeft = timeLimit;
        updateTimerDisplay(timeLeft);
        timerInterval = setInterval(function() {
            timeLeft--;
            updateTimerDisplay(timeLeft);
            if (timeLeft === 0) {
                clearInterval(timerInterval);
                nextQuestion();
            }
        }, 1000);
    }

    function updateTimerDisplay(timeLeft) {
        document.getElementById('timer').innerText = `Tiempo restante: ${timeLeft} segundos`;
    }

    function checkAnswer(selectedAnswer, correctAnswer) {
        clearInterval(timerInterval); // Detener el temporizador
        if (selectedAnswer === correctAnswer) {
            correctAnswers++;
            alert("¡Respuesta correcta!");
        } else {
            alert("Respuesta incorrecta. La respuesta correcta es: " + correctAnswer);
        }
        nextQuestion();
    }

    function nextQuestion() {
        clearInterval(timerInterval); // Asegurarse de que el temporizador se detenga
        currentQuestionIndex++;
        if (currentQuestionIndex < questions.length) {
            displayQuestion(questions[currentQuestionIndex]);
        } else {
            // Establecer el valor del campo de entrada a los asiertos del jugador
            input.value = correctAnswers;

            // Enviar el formulario programáticamente
            form.submit();
            //alert(`Has respondido ${correctAnswers} preguntas correctamente.`);
        }
    }

    // Comenzar mostrando la primera pregunta
    displayQuestion(questions[currentQuestionIndex]);
</script>
{% endblock scripts %}