{% extends "base.html" %}

{% block content %}

<div class='preguntas'>
    <form action="{% url "generate-url" %}" method="post">
        {% csrf_token %}
        <label for="category">Categoría:</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    
        <label for="quantity">Cantidad:</label>
        <input type="number" id="quantity" name="quantity" required>
    
        <button type="submit">Generar URL</button>
    </form>

    <p id="url-to-copy">{{ url }}</p>
    <button id="copy-button">Copiar URL</button>

</div>

{% endblock content %}

{% block scrips %}
<script>
    document.getElementById('copy-button').addEventListener('click', function() {
        var urlToCopy = document.getElementById('url-to-copy').innerText;
        var tempInput = document.createElement('input');
        tempInput.style = "position: absolute; left: -1000px; top: -1000px";
        tempInput.value = urlToCopy;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        //alert('URL copiada al portapapeles!');
    });
</script>
{% endblock scrips %}
    