{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
       <h2>Error 404</h2>

        <div class="col-lg-6 text-center">
          <!--<h2 data-aos="fade-down">La Trivia Game</h2>-->
          <p data-aos="fade-up">Error</p>
          
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" >

    <div class="carousel-item active" style="background-image: url(static/assets/img/fondo-celestial.jpg)"></div>
    
  </div>

</section><!-- End Hero Section -->
{% endblock content %}